# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
.next/
out/
build/

# Next.js
.next/
out/

# Misc
.DS_Store
*.pem

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
